body{
    background-color: rgb(135, 135, 214);
    color: white;
    text-align: center;
    font-size: 1.2rem;
}

nav a{
    text-decoration: ;
    margin-right: 8px;
}

a{
    text-decoration: none;
    color: rgb(255, 25, 25);
}

img{
    width: 340px;
    height: 340px;
    border-radius: 18px;
}

iframe{
    width: 340px;
    height: 340px;
    border-radius: 18px;
}

